

*{box-sizing: border-box;}

body {
    width:960px;
 margin: 0 auto;

body {
    width: 960px;
    margin: auto;

}
h1 {
    margin:0px;
}
h3 {
    padding: 0px;
}
p:first-child{
    padding: 0px;
}
header {

    margin-bottom: 30px;
}
div {
    display: inline;
    float: left;
}

.headl {
    display: inline-block;
    float: left;
}

#righth {
    display: inline;
    float: right;

}